@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "LoginRegister";
}

<div class="background-Login">
    <div class="inner-left">
        @RenderBody()
    </div>
    <div class="inner-right">
        <img src="/images/SofaGuy.png" alt="SofaGuy">
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function() {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) != -1)
                {
                    $this.addClass('active');
                }
            }
            )
        }
        )
    </script>
}