@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LoginRegister";
}

<style>

    .inner-left {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        height: 100%;
        width: 50%;
        text-align: center;
    }

    .middle-left {
        width: 50%;
    }

     .inner-right {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #304D70;
        border-bottom-left-radius: 90px;
        border-top-left-radius: 150px;
    }
        .inner-right img {
            height: 70%;
        }
</style>


  <div class="background-Login">
    <div class="inner-left">
        <div class="middle-left">
            @RenderBody()
        </div>
    </div>
    <div class="inner-right">
        @* <img src="/images/SofaGuy.png" alt="SofaGuy"> *@
    </div>
</div> 


@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function() {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) != -1)
                {
                    $this.addClass('active');
                }
            }
            )
        }
        )
    </script>
}