@using WebApplication1.Areas.Identity.Pages.Account
@model LoginModel

<style>
    /*Login Page & Register Page CSS*/
    *{
        font-family: 'Montserrat', sans-serif;
    }

    .login-form h1 {
        line-height: 130%;
        /* background-color: red; */
    }

    .form-floating {
        padding-bottom: 25px;
        width: 60%;
    }

    input.form-control {
        background-color: #ECECEC;
    }

    .form-floating input.form-control:focus {
        /* box-shadow: 0 0 10px #ffd803; */
        border: 2px solid #304D70;
        /* outline-color: #304D70; */
    }

    .login-Button {
        background-color: #304D70;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 7%;
        padding-right: 7%;
        border: solid 0px #304D70;
        border-radius: 5px;
        transition: 0.5s;
        margin-bottom: 30px;
    }

        .login-Button:hover {
            box-shadow: 0 0 10px #304D70;
        }

    .checkbox input.form-check-input {
        border-color: white;
    }

        .checkbox input.form-check-input:checked {
            background-color: #304D70;
            border-color: #304D70;
        }

        .checkbox input.form-check-input:focus {
            box-shadow: 0 0 10px #304D70;
        }


</style>

<form class="login-form" id="account" method="post" action="~/Identity/Account/Login">
    <h1><b>Sign In</b></h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
        <label asp-for="Input.Email" class="form-label"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
        <label asp-for="Input.Password" class="form-label"></label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div>
        <div class="checkbox">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>
    <div>
        <button id="login-submit" type="submit" class="login-Button"><b>Log In</b></button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
