@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Areas/Identity/Pages/_WebLayout.cshtml";
}



<div class="login-Section">
    <div class="first-Section">
        <div class="inner-Content">
            <div class="image-Logo">
                <img src="/images/logo.png" alt="Logo">
            </div>
            <div class="main-Title">
                <h1>Gym <b>Management</b></h1>
                <h3>where fitness meets efficiency</h3>
            </div>
        </div>
    </div>
    <div class="second-Section">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2><b>Sign Up</b></h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                        <label asp-for="Input.FirstName">First Name</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                        <label asp-for="Input.LastName">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="login-Button"><b>Register</b></button>
        </form>
    </div>
    <div class="third-Empty">
        <div class="final-Writings">
            <p>Have an account? <b><u><a href="/Identity/Account/Login">Sign In</a></u></b></p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
