

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}


html, body {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*Login Register CSS*/
.background-Login {
    background: white;
    height: 100%;
    display: flex;
}

/*.inner-left {
    background-color: #525252;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 100%;
    width: 32%;
}*/

/*.inner-right {
    background-image: url('/images/backgroung.png.png');
    height: 100%;
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center
}

.inner-right img {
    height: 70%;
}*/

/*Login Box Navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs{
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

/*Login Page & Register Page CSS*/
.login-Section {
    color: #ffd803;
    font-family: "Poppins";
}

.first-Section {
    margin-top: 18%;
    margin-bottom: 10%;
    margin-right: 2%;
    margin-left: 2%;
}

.second-Section {
    margin-right: 5%;
    margin-left: 5%;
}

.second-Section h2 {
    font-size: 28px;
}

.second-Section .form-floating {
    color: black;
}

.form-floating {
    padding-bottom: 25px;
}

input.form-control {
    background-color: white;
}

.form-floating input.form-control:focus {
    box-shadow: 0 0 10px #ffd803;
}

.login-Button {
    background-color: #ffd803;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7%;
    padding-right: 7%;
    border: solid 0px #ffd803;
    border-radius: 5px;
    transition: 0.5s;
    margin-bottom: 30px;
}
    .login-Button:hover {
        box-shadow: 0 0 10px #ffd803;
    }
.checkbox input.form-check-input {

    border-color: white;
}
    .checkbox input.form-check-input:checked {
        background-color: #ffd803;
        border-color: #ffd803; 
    }
    .checkbox input.form-check-input:focus {
        box-shadow: 0 0 10px #ffd803;
    }

.final-Writings {
    color: black;
    padding-left: 5%;
}

.final-Writings a{
    color: #ffd803;
    transition: 0.5s;
}
    .final-Writings a:hover {
        text-shadow: 0 0 10px #ffd803;
    }

/*Main Dashboard*/

.main-Background {
    /*background-color: #ECECEC;*/
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.main-Content {
    width: 100%;
}

/*Testinggggggggggggggggggggggg*/
