html, body {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.background {
    background-image: url('/images/backgroung.png.png');
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffd803;
}

.title-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #525252;
    border-radius: 37px;
    text-align: center;
    height: 300px;
    width: 500px;
    /*padding: 20px;*/
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}


.inner-Content {
    display: flex;
}

.image-Logo img {
    height: 75px;
}

.main-Title {
    text-align: left;
    font-family: 'Writing Signature', sans-serif;
}

.main-Title h1 {
    font-family: "Poppins";
}

.main-Title h3 {
    margin-top: -17px;
}

/*Login Register CSS*/
.background-Login {
    background: white;
    height: 100%;
    display: flex;
}

.inner-left {
    background-color: #525252;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 100%;
    width: 32%;
}

.inner-right {
    background-image: url('/images/backgroung.png.png');
    height: 100%;
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center
}

.inner-right img {
    height: 70%;
}

/*Login Box Navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs{
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

/*Login Page & Register Page CSS*/
.login-Section {
    color: #ffd803;
    font-family: "Poppins";
}

.first-Section {
    margin-top: 18%;
    margin-bottom: 10%;
    margin-right: 2%;
    margin-left: 2%;
}

.second-Section {
    margin-right: 5%;
    margin-left: 5%;
}

.second-Section h2 {
    font-size: 28px;
}

.second-Section .form-floating {
    color: black;
}

.form-floating {
    padding-bottom: 25px;
}

input.form-control {
    background-color: white;
}

.form-floating input.form-control:focus {
    box-shadow: 0 0 10px #ffd803;
}

.login-Button {
    background-color: #ffd803;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7%;
    padding-right: 7%;
    border: solid 0px #ffd803;
    border-radius: 5px;
    transition: 0.5s;
    margin-bottom: 30px;
}
    .login-Button:hover {
        box-shadow: 0 0 10px #ffd803;
    }
.checkbox input.form-check-input {

    border-color: white;
}
    .checkbox input.form-check-input:checked {
        background-color: #ffd803;
        border-color: #ffd803; 
    }
    .checkbox input.form-check-input:focus {
        box-shadow: 0 0 10px #ffd803;
    }

.final-Writings {
    color: black;
    padding-left: 5%;
}

.final-Writings a{
    color: #ffd803;
    transition: 0.5s;
}
    .final-Writings a:hover {
        text-shadow: 0 0 10px #ffd803;
    }

/*Main Dashboard*/

.main-Background {
    background-color: #ECECEC;
    height: 100%;
    width: 100%;
}

.side-Bar {
    background-color: #525252;
    width: 9.5%;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 0 10px #525252;
    text-align: center;
}

.side-Bar .image-Logo img {
    margin-top: 50px; 
}

.list-Navigation {
    margin-top: 48%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.btn-style {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid transparent;
    font-size: 18px;
    width: 100%;
    transition: 0.5s;
    text-align: left;
}


.btn-style:hover {
    color: black;
    background-color: white;
    border-radius: 6px;
    transition: 0.5s;
}
    .btn-style img {
        width: 30px;
        margin-right: 4%;
        margin-left: 1%;
    }

    .btn-style:hover img {
        filter: brightness(0); /* On hover, set brightness to 0% (black) */
    }
    .btn-style.active img {
        filter: brightness(0); /* Set brightness to 0% for the active state (black) */
    }

    .btn-style.active {
        color: black;
        background-color: white;
        border-radius: 6px;
        transition: 0.5s;
    }