html, body {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.background {
    background-image: url('/images/backgroung.png.png');
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffd803;
}

.title-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #525252;
    border-radius: 37px;
    text-align: center;
    height: 300px;
    width: 500px;
    /*padding: 20px;*/
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}


.inner-Content {
    display: flex;
}

.image-Logo img {
    height: 75px;
}

.main-Title {
    text-align: left;
    font-family: 'Writing Signature', sans-serif;
}

.main-Title h1 {
    font-family: "Poppins";
}

.main-Title h3 {
    margin-top: -17px;
}

/*Login Register CSS*/
.background-Login {
    background: white;
    height: 100%;
    display: flex;
}

.inner-left {
    background-color: #525252;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 100%;
    width: 32%;
}

.inner-right {
    background-image: url('/images/backgroung.png.png');
    height: 100%;
    width: 68%;
}