@{
    ViewData["Title"] = "Home Page";
}

<div class="background">
    <div class="title-Wrapper">
        <div class="inner-Content">
            <div class="image-Logo">
                <img src="/images/logo.png" alt="Logo">
            </div>
            <div class="main-Title">
                <h1>Gym <b>Management</b></h1>
                <h3>where fitness meets efficiency</h3>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        window.location.href = "/Identity/Account/Register";
    }, 3000); // 3000 milliseconds = 3 seconds
</script>