@{
    ViewData["Title"] = "LoginRegister";
}

<div class="background-Login">
    <div class="inner-left">
        
    </div>
    <div class="inner-right">
        <img src="/images/SofaGuy.png" alt="SofaGuy">
    </div>
</div>

